* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;

}

.box {
    height: 16vmin;
    width: 16vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: blueviolet;
    background-color: pink;
}

#reset-btn {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
}

.msg-container {
    height: 20vmin;
}

#msg {
    color: red;
    font-size: 3rem;
    font-weight: bold;
}

#new-btn {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}

.hide {
    display: none;
}

@media (max-width:768px) {

    body {
        background-color: beige;
    }

    .container {
        height: 50vh;
        gap: 1.2vmin;
    }

    .game {
        height: 40vmin;
        width: 50vmin;
        gap: 1.2vmin;
    }

    .box {
        height: 15vmin;
        width: 15vmin;
        font-size: 5vmin;
        color: blue;
    }

    #reset-btn {
        padding: 0.8rem;
        font-size: 12px;
    }

    h2 {
        font-size: 1.4rem;
        /* margin: 10px; */
    }

    .msg-container {
        height: 20vmin;
        padding: 15px;
    }

    #msg {
        color: red;
        font-size: 1.5rem;
        margin-bottom: 8px;
    }

    #new-btn {
        padding: 0.8rem;
        font-size: 12px;
    }


}